<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Gestor de Tareas</title>
    <!-- Hoja de estilo propia -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" />

    <!-- Bootstrap sketchy teme https://www.bootstrapcdn.com/bootswatch/-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">

    <!-- Fuente de Google Fonts https://fonts.google.com/specimen/Cabin+Sketch?query=sketch -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">

</head>
<body>
<h1 class="display-4 text-center mt-4 titulo" >Gestor de Tareas </h1>

<div class="row">
    <div class="col-md-4 offset-md-4 my-auto">
        <div class="card">
            <div class="card-header">
                <form action="/crear-tarea" method="post">
                    <div class="input-group">
                      <input type="text" name="contenido_tarea" placeholder="Tarea pendiente" class="form-control" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
            <div class="card-body">
                <ul>
                    {% for tarea in lista_de_tareas: %}
                    <div>
                    <button onclick="document.location='/tarea-hecha/{{tarea.id_tarea}}'"
                            type="button" class="btn btn-success">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    </button>
                        <span class="{% if tarea.hecha==true %} tarea_hecha {% endif %}">
                            {{tarea.contenido}}
                        </span>
                    <button onclick="document.location='/eliminar-tarea/{{tarea.id_tarea}}'"
                            type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                    {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>